
            <header>
                <div id="header">
                    <div id="searchbox">
                        <a href="https://www.moddb.com/members/commandplayer" title="Your personal control panel and profile"><strong>CommandPlayer</strong></a>
                        |
                        <a class="pmicon messagescount" href="https://www.moddb.com/members/inbox" title="Private Messages">0</a>
                        |
                        <a href="https://www.moddb.com/messages/updates" title="Group and watch updates"><span class="updatescount">0</span></a>
                        |

                        <form action="https://www.moddb.com/search" class="search" method="get"><input type="text" name="q" maxlength="500" value="" id="sitesearch" class="text" placeholder="Search" /><input type="image" name="sa" value="Search" src="~/images/btn_search_box.png" class="button" alt="Search Mod DB" title="Search Mod DB" /></form>
                    </div>
                    <h1>Games and Mod development for Windows, Linux and Mac</h1>
                    <a class="logo" asp-action="index" asp-controller="home" title="Mod DB Home"></a>
                    <ul class="tabs">
                        <li class="on"><a asp-action="index" asp-controller="home">HOME</a></li>
                        <li><a asp-action="set" asp-controller="xone">XONE</a></li>
                        <li><a asp-action="set" asp-controller="ps4">PS4</a></li>
                        <li><a asp-action="set" asp-controller="switch">Switch</a></li>
                        <li><a asp-action="set" asp-controller="vr">VR</a></li>
                        <li><a asp-action="set" asp-controller="ios">iOS</a></li>
                        <li><a asp-action="set" asp-controller="android">Android</a></li>
                        <li class="none"><a asp-action="selection" asp-controller="platforms" rel="iframe=true;innerHeight=480;innerWidth=670" class="thickbox" title="Choose any platform">&#187;</a></li>
                    </ul>
                </div>
                <div id="subheader">
                    <nav>
                        <ul class="tabs">
                            <li class="firsttab">
                                <a href="/games">games</a>
                                <ul>
                                    <li><a asp-action="top" asp-controller="mod">popular</a></li>
                                    <li><a asp-action="latest" asp-controller="mod">latest</a></li>
                                    <li><a href="https://www.indiedb.com">indies</a></li>
                                    <li><a href="https://modularity.games">publishing</a></li>
                                    <li><a asp-action="add" asp-controller="mod">add game</a></li>
                                </ul>
                            </li>
                            <li>

                                <a asp-action="index" asp-controller="mod">mods</a>
                                <ul>
                                    <li><a asp-action="top" asp-controller="mod">popular</a></li>
                                    <li><a asp-action="latest" asp-controller="mod">latest</a></li>
                                    <li><a asp-action="add" asp-controller="mod">add mod</a></li>
                                </ul>
                                <!--
                                <a href="/mods">mods</a>
                                <ul>
                                    <li><a href="/mods/top">popular</a></li>
                                    <li><a href="/mods/latest">latest</a></li>
                                    <li><a href="/mods/add">add mod</a></li>
                                </ul>
                                -->
                            </li>
                            <li>
                                <a href="/addons">addons</a>
                                <ul>
                                    <li><a href="/addons/top">popular</a></li>
                                    <li><a href="/addons/latest">latest</a></li>
                                    <li><a href="/addons/add">upload</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/downloads">files</a>
                                <ul>
                                    <li><a href="/downloads/top">popular</a></li>
                                    <li><a href="/downloads/latest">latest</a></li>
                                    <li><a href="/downloads/add">upload</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/videos">videos</a>
                                <ul>
                                    <li><a href="/images">images</a></li>
                                    <li><a href="/audio">audio</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/articles">articles</a>
                                <ul>
                                    <li><a href="/reviews">reviews</a></li>
                                    <li><a href="/headlines">headlines</a></li>
                                    <li><a href="/blogs">blogs</a></li>
                                    <li><a href="/articles/add">post article</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/engines">engines</a>
                                <ul>
                                    <li><a href="/engines/top">popular</a></li>
                                    <li><a href="/engines/latest">latest</a></li>
                                    <li><a href="/engines/add">add engine</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/company">developers</a>
                                <ul>
                                    <li><a href="/company/top">popular</a></li>
                                    <li><a href="/company/latest">latest</a></li>
                                    <li><a href="/company/add">add dev</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/groups">groups</a>
                                <ul>
                                    <li><a href="/groups/top">popular</a></li>
                                    <li><a href="/groups/latest">latest</a></li>
                                    <li><a href="/groups/add">add group</a></li>
                                </ul>
                            </li>
                            <li><a href="/forum">forums</a></li>
                            <li>
                                <a href="/jobs">jobs</a>
                                <ul>
                                    <li><a href="/jobs/add">post job</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            <div style="clear: both;"></div>
            <div class="headermediabox">
                <div class="supporter">
                    <div class="DBsupporter" data-dfp-id="MODDB_LB_1" data-dfp-sizes="728x90, 960x250, 970x250" id="div-ga-MODDB_LB_1"></div>
                </div>
            </div>