
<div class="column span-300-alt first">
    <div class="rotator">
        <div class="links">
            <a id="rotatornext" class="next link" title="Next"></a>
            <a id="rotatorprev" class="prev link" title="Previous"></a>
            <a class="rss link" href="https://rss.moddb.com/headlines/feed/rss.xml" target="_blank"></a>
            <a class="browse link" title="Browse Headlines"></a>
        </div>
        <div id="rotatorholder" class="rotatorholder" style="position: relative;">

            <div class="rotatorbox" style="position: absolute; top: 0px; z-index: 10; opacity: 0; display: none;">
                <a href="https://www.moddb.com/mods/bf1-expanded-edition-mod/downloads/bf1-expanded-edition1-1">
                    <div class="rotatorcorner" style="background-image: url(https://media.moddb.com/cache/images/headlines/1/1/1/crop_620x250x95/Headline_Banner_Image_BF_Expande.jpg);">

                        <div class="title">
                            <h2>BF Expanded Edition</h2>
                            <p>A mod that brings new content including maps and mods to the original SW Battlefront</p>
                            <span class="bg"></span>
                        </div>

                    </div>
                </a>
            </div>
            <div class="rotatorbox" style="display: block; position: absolute; top: 0px; z-index: 3; opacity: 1.0;">
                <a href="https://www.moddb.com/mods/tiberium-resurrection/downloads/tiberium-resurrection-40">
                    <div class="rotatorcorner" data-bg="https://media.moddb.com/cache/images/headlines/1/1/1/crop_620x250x95/Headline_Banner_Image_Tib_Res_v4.jpg" style="background-image: url(&quot;https://media.moddb.com/cache/images/headlines/1/1/1/crop_620x250x95/Headline_Banner_Image_Tib_Res_v4.jpg&quot;);">

                        <div class="title">
                            <h2>Tiberium Resurrection</h2>
                            <p>Version 4.0 is out now for the C&amp;C: Tiberian Sun mod that expands and enhances the original game in a multitude of ways</p>
                            <span class="bg"></span>
                        </div>

                    </div>
                </a>
            </div>
            <div class="rotatorbox" style="display: none; position: absolute; top: 0px; z-index: 8; opacity: 0;">
                <a href="https://www.moddb.com/mods/firebird-10/downloads/firebird-levels">
                    <div class="rotatorcorner" data-bg="https://media.moddb.com/cache/images/headlines/1/1/1/crop_620x250x95/Headline_Banner_Image_Firebird.jpg" style="background-image: url(&quot;https://media.moddb.com/cache/images/headlines/1/1/1/crop_620x250x95/Headline_Banner_Image_Firebird.jpg&quot;);">

                        <div class="title">
                            <h2>Firebird</h2>
                            <p>Experience more realistic gameplay in the overhaul mod for Battlefield 2</p>
                            <span class="bg"></span>
                        </div>

                    </div>
                </a>
            </div>
            <div class="rotatorbox" style="display: none; position: absolute; top: 0px; z-index: 7; opacity: 0;">
                <a href="https://www.moddb.com/news/the-future-of-modding-in-games-free-conference-talk">
                    <div class="rotatorcorner" data-bg="https://media.moddb.com/cache/images/headlines/1/1/1/crop_620x250x95/Headline_Banner_Image_TG_mod.io.2.jpg" style="background-image: url(&quot;https://media.moddb.com/cache/images/headlines/1/1/1/crop_620x250x95/Headline_Banner_Image_TG_mod.io.2.jpg&quot;);">

                        <div class="title">
                            <h2>Future Of Modding</h2>
                            <p>Watch the creator of ModDB, IndieDB and mod.io give a talk about the future of modding in games, for the free Technically Games digital conference</p>
                            <span class="bg"></span>
                        </div>

                    </div>
                </a>
            </div>
            <div class="rotatorbox" style="display: none; position: absolute; top: 0px; z-index: 6; opacity: 0;">
                <a href="https://www.moddb.com/mods/lotr-realms-in-exile/news/lotr-realms-in-exile-101-the-riders-of-rohan">
                    <div class="rotatorcorner" data-bg="https://media.moddb.com/cache/images/headlines/1/1/1/crop_620x250x95/Headline_Banner_Image_Realms_In.jpg" style="background-image: url(&quot;https://media.moddb.com/cache/images/headlines/1/1/1/crop_620x250x95/Headline_Banner_Image_Realms_In.jpg&quot;);">

                        <div class="title">
                            <h2>Realms In Exile</h2>
                            <p>Experience The Lord of the Rings in the total conversion mod for Crusader Kings III</p>
                            <span class="bg"></span>
                        </div>

                    </div>
                </a>
            </div>
            <div class="rotatorbox" style="display: none; position: absolute; top: 0px; z-index: 5; opacity: 0;">
                <a href="https://www.moddb.com/mods/scattered-evil/downloads/scattered-evil-20">
                    <div class="rotatorcorner" data-bg="https://media.moddb.com/cache/images/headlines/1/1/1/crop_620x250x95/Headline_Banner_Image_Scattered.1.jpg" style="background-image: url(&quot;https://media.moddb.com/cache/images/headlines/1/1/1/crop_620x250x95/Headline_Banner_Image_Scattered.1.jpg&quot;);">

                        <div class="title">
                            <h2>Scattered Evil</h2>
                            <p>Version 2.0 for the Hexen mod introduces fully animated 3D models to the game</p>
                            <span class="bg"></span>
                        </div>

                    </div>
                </a>
            </div>
            <div class="rotatorbox" style="display: none; position: absolute; top: 0px; z-index: 4; opacity: 0;">
                <a href="https://www.moddb.com/mods/ignoble/news/ignoble-chapter-3-released">
                    <div class="rotatorcorner" data-bg="https://media.moddb.com/cache/images/headlines/1/1/1/crop_620x250x95/Headline_Banner_Image_Ignoble_Ch.jpg" style="background-image: url(&quot;https://media.moddb.com/cache/images/headlines/1/1/1/crop_620x250x95/Headline_Banner_Image_Ignoble_Ch.jpg&quot;);">

                        <div class="title">
                            <h2>Ignoble</h2>
                            <p>Escape a twisted alternative reality in chapter 3 of the Doom 2 mod</p>
                            <span class="bg"></span>
                        </div>

                    </div>
                </a>
            </div>
            <div class="rotatorbox" style="display: none; position: absolute; top: 0px; z-index: 9; opacity: 0;">
                <a href="https://www.moddb.com/mods/the-return-of-the-gods/news/the-complete-aztec-triad">
                    <div class="rotatorcorner" data-bg="https://media.moddb.com/cache/images/headlines/1/1/1/crop_620x250x95/Headline_Banner_Image_Return_Of.jpg" style="background-image: url(&quot;https://media.moddb.com/cache/images/headlines/1/1/1/crop_620x250x95/Headline_Banner_Image_Return_Of.jpg&quot;);">

                        <div class="title">
                            <h2>The Return Of The Gods</h2>
                            <p>A total conversion mod for Age Of Mythology that focuses on ancient American civilizations </p>
                            <span class="bg"></span>
                        </div>

                    </div>
                </a>
            </div>
            <div class="rotatorbox" style="display: block; position: absolute; top: 0px; z-index: 2; opacity: 0.298547;">
                <a href="https://www.moddb.com/mods/the-horse-lords-a-total-modification-for-bfme/news/age-of-the-ring-version-60">
                    <div class="rotatorcorner" data-bg="https://media.moddb.com/cache/images/headlines/1/1/1/crop_620x250x95/Headline_Banner_Image_Age_of_the.1.jpg" style="background-image: url(&quot;https://media.moddb.com/cache/images/headlines/1/1/1/crop_620x250x95/Headline_Banner_Image_Age_of_the.1.jpg&quot;);">

                        <div class="title">
                            <h2>Age Of The Ring</h2>
                            <p>Control a new faction with the Woodland Realm in the latest update (6.0) for the Rise of the Witch-King mod which also overhauls the AI and more</p>
                            <span class="bg"></span>
                        </div>

                    </div>
                </a>
            </div>
            <div class="rotatorbox" style="display: none; position: absolute; top: 0px; z-index: 1; opacity: 0;">
                <a href="https://www.moddb.com/mods/black-mesa-azure-sheep/news/azure-sheep-part-one-extended-release">
                    <div class="rotatorcorner" data-bg="https://media.moddb.com/cache/images/headlines/1/1/1/crop_620x250x95/Headline_Banner_Image_Azura_Shee.jpg" style="background-image: url(&quot;https://media.moddb.com/cache/images/headlines/1/1/1/crop_620x250x95/Headline_Banner_Image_Azura_Shee.jpg&quot;);">

                        <div class="title">
                            <h2>Black Mesa: Azure Sheep</h2>
                            <p>Replay through the revamped and improved Part 1 of the Black Mesa mod</p>
                            <span class="bg"></span>
                        </div>

                    </div>
                </a>
            </div>

        </div>
    </div>
    <div class="normalbox">
        <div class="normalcorner">
            <div class="title">
                <span class="options">
                    <a class="addicon" title="Post article">Post article</a>
                    <a class="rssicon" href="https://rss.moddb.com/articles/feed/rss.xml" target="_blank" title="RSS">RSS</a>
                </span>
                <span class="heading">Latest Articles</span>
            </div>
        </div>
        <div class="inner">
            <div class="body bodysimple clear">
                <div class="tooltip"></div>

                <!-- The table of the articles -->
                <div class="table">

                    <!-- a single article -->
                    <div class="row rowcontent clear">
                        <!-- Here and example copied -->
                        <a class="image" href="https://www.moddb.com/games/timeless-adventure-a-journey-to-begin/news/dev-update-52" title="Dev Update #5">
                            <img src="https://media.moddb.com/cache/images/articles/1/289/288212/crop_120x90/Timeless_Adventure_A_Journey_to.png" alt="Dev Update #5" />
                        </a>
                        <div class="content">
                            <a href="https://www.moddb.com/games/timeless-adventure-a-journey-to-begin" title="Timeless Adventure: A Journey To Begin">
                                <img src="https://media.moddb.com/images/games/1/74/73970/icon64x6.png" alt="Timeless Adventure: A Journey To Begin" style="float: right; padding-left: 4px;" width="32" height="32">
                            </a>
                            <h4>
                                <a href="https://www.moddb.com/games/timeless-adventure-a-journey-to-begin/news/dev-update-52">Dev Update #5</a>
                            </h4>
                            <span class="date">
                                <time datetime="2020-11-22">1hour ago</time>
                            </span>
                            <span class="subheading">
                                <a href="/games/timeless-adventure-a-journey-to-begin" title="Game">Timeless Adventure: A Journey To Begin</a>
                            </span>
                            <p>
                                For Dev Update #5 the focus was on optimization, a new area, the water shader, and some minor (but nonetheless important) improvements.
                            </p>
                        </div>
                        ::after
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>