
@{
    ViewData["Title"] = "Mod";
}

<body>
    <div id="body">
        <div class="container" style="background: unset;">
            <div class="column span-300-alt first">
                <div class="normalbox">
                    <div class="normalcorner">
                        <div class="title">
                            <span class="options">
                                <a class="addicon" title="Post article">Post article</a>
                                <a class="rssicon" href="https://rss.moddb.com/articles/feed/rss.xml" target="_blank" title="RSS">RSS</a>
                            </span>
                            <span class="heading">Latest Articles</span>
                        </div>
                    </div>
                    <div class="inner">
                        <div class="body bodysimple clear">
                            <div class="tooltip"></div>

                            <!-- The table of the articles -->
                            <div class="table">

                                <!-- a single article -->
                                <div class="row rowcontent clear">
                                    <!-- Here and example copied -->
                                    <a class="image" href="https://www.moddb.com/games/timeless-adventure-a-journey-to-begin/news/dev-update-52" title="Dev Update #5">
                                        <img src="https://media.moddb.com/cache/images/articles/1/289/288212/crop_120x90/Timeless_Adventure_A_Journey_to.png" alt="Dev Update #5" />
                                    </a>
                                    <div class="content">
                                        <a href="https://www.moddb.com/games/timeless-adventure-a-journey-to-begin" title="Timeless Adventure: A Journey To Begin">
                                            <img src="https://media.moddb.com/images/games/1/74/73970/icon64x6.png" alt="Timeless Adventure: A Journey To Begin" style="float: right; padding-left: 4px;" width="32" height="32">
                                        </a>
                                        <h4>
                                            <a href="https://www.moddb.com/games/timeless-adventure-a-journey-to-begin/news/dev-update-52">Dev Update #5</a>
                                        </h4>
                                        <span class="date">
                                            <time datetime="2020-11-22">1hour ago</time>
                                        </span>
                                        <span class="subheading">
                                            <a href="/games/timeless-adventure-a-journey-to-begin" title="Game">Timeless Adventure: A Journey To Begin</a>
                                        </span>
                                        <p>
                                            For Dev Update #5 the focus was on optimization, a new area, the water shader, and some minor (but nonetheless important) improvements.
                                        </p>
                                    </div>
                                    ::after
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>